language: java

cache:
  directories:
    - "$HOME/.m2"

deploy:
  provider: script
  script: "cp .travis.settings.xml $HOME/.m2/settings.xml && mvn -DaltSnapshotDeploymentRepository=packagecloud-weldnorthanalytics::default::packagecloud+https://packagecloud.io/weldnorthanalytics/doolittle deploy"
  skip_cleanup: true
  on:
    branch: master
